.emp-list-panel {
	margin-top: 16px;
	
	table {
		margin-bottom: 0;
	}
}

.page-limit {
	width: auto;
	display: inline-block;
}

.table {
	tbody {
		tr {
			height: 45px;
			td {
				vertical-align: middle;
			}
		}
	}
}